*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
header .logo{
width: 15%;
}
header .logo img{
    width: 100%;
    display: block;
}
body{
    background-color: 	#ff0096;
}
header nav{
    display: flex;
    width: 80%;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}
header nav a{
    text-decoration: none;
    background-color: aqua;
    color: #ffffff;
    padding: 5px;
}
header nav a:hover{
    background-color: rgb(200, 255, 0);
}